@tailwind base;
@tailwind components;


.react-calendar__tile--active {
    background-color: #5800FF;
    color: white;
}

* {
    border: none;
}

abbr {
    text-decoration: none;
}

/* button {
    border-radius: 55px
} */
.react-calendar__navigation {
    color: blue
}

.react-calendar__navigation button {
    min-width: 20px;
    background: none;
}

@tailwind utilities;