@tailwind base;
@tailwind components;
.custom-img{
    /* Layout Properties */
top: -400px;
left: -300px;
width: 474px;
height: 476px;
/* UI Properties */
background: transparent url('../../Assets/Ellipse\ 2.svg') 0% 0% no-repeat padding-box;
opacity: 1;
filter: blur(50px);
}
.custom-img2{
    /* Layout Properties */
top: 430px;
left: -180px;
width: 474px;
height: 300px;
bottom: 0px;
/* UI Properties */
background: transparent url('../../Assets/Ellipse\ 2.svg') 0% 0% no-repeat padding-box;
opacity: 1;
filter: blur(40px);
}
.custom-tilled{
    clip-path: polygon(0 0, 88% 0, 58% 100%, 0% 100%);
}
@media (max-width:1024px){
    .custom-tilled{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    } 
}
@tailwind utilities;